body {
  padding-top: 100px;
}

.navbar-inverse {
    background-color: rgb(62, 183, 189);
    height: 84px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #4fc0c6;
}

.navbar-inverse .navbar-brand {
    background-image: url(https://www.pley.com/images/logo-original.png);
    height: 84px;
    width: 120px;
    text-indent: -999px;
    background-size: 104px 68px;
    background-repeat: no-repeat;
}
