{% block registration_header %}
<h1>Registration</h1>
{% endblock %}
<p>Please register in order to use our product</p>
<form role="form" id="registration-form" action="/user/register" method="post">
    <div class="form-group">
        <label for="first-name" class="control-label">First name</label>
        <input type="text" class="form-control" name="first_name" id="first-name" required>
    </div>
    <div class="form-group">
        <label for="last-name" class="control-label">Last name</label>
        <input type="text" class="form-control" name="last_name" id="last-name" required>
    </div>
    <div class="form-group">
        <label for="email" class="control-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" required>
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" required>
    </div>
    {% block registraion_submit %}
    <button type="submit" class="btn btn-default">Submit</button>
    {% endblock %}
</form>

